---
// Component Imports
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Icon from "../components/icons.jsx"
import "../styles/projects.css"

// Data Fetching: List all Markdown posts in the repo.
const projects = await Astro.glob("./project/*.md");
---

<html lang="en">
  <head>
    <MainHead
      title="Alan Cortez | Projects"
      description="Projects Alan Cortez has developed so far."
    />
  </head>
  <body>
    
    <Nav />
    <!-- dividing wave -->
    <main>
      <section class="proj-hero">
        <h1 class="title">My Projects</h1>
        <svg class="hero-wave" viewBox="0 0 1512 187" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0H1512V153.813C1512 153.813 1386 179.318 1301 178.749C1187.33 177.988 1142.82 125.601 1029.5 129.809C926.851 133.62 898.837 184.43 796 186.906C702.565 189.155 663.55 150.478 570 149.851C506.821 149.427 474.676 164.469 411.5 164.999C307.66 165.871 259.952 125.539 156.5 129.809C92.4096 132.454 0 153.813 0 153.813V0Z" fill="#2F5978"/>
        </svg>
      </section>
      {
        projects.map((project) => (
        <section class="project" id={project.frontmatter.title}>
            <div class="display">
              <div class="display-wrapper">
                {project.frontmatter.demoLink !== "N/A" && 
                  <a href={project.frontmatter.demoLink} target="_blank" title={`Opens New Tab to the ${project.frontmatter.title} Live Prototype`}>
                    <h2 class="demo-text">Click here for live demo!</h2>
                  </a>
                }
                <a href={project.url} title={`Redirects to ${project.frontmatter.title} Project Blog Page`}>
                  <img src={project.frontmatter.gif} loading="lazy" alt={`${project.frontmatter.title} demo display`}/>
                </a>
                {
                  project.frontmatter.figmaLink !== "N/A" && (
                    <a class="github-badge-wrapper" href={project.frontmatter.figmaLink} target="_blank" title={`Opens New Tab to the ${project.frontmatter.title} Figma Mockup Page`}>
                      <svg class="github-badge" viewBox="0 0 179 179" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M71.3415 49.414C69.3209 55.6326 63.5259 59.843 56.9872 59.843C38.4914 59.843 30.8012 83.5109 45.7646 94.3825C51.0545 98.2258 53.2681 105.038 51.2475 111.257C45.532 128.848 65.6651 143.475 80.6286 132.604C85.9185 128.76 93.0815 128.76 98.3714 132.604C113.335 143.475 133.468 128.848 127.753 111.257C125.732 105.038 127.945 98.2258 133.235 94.3825C148.199 83.5109 140.509 59.843 122.013 59.843C115.474 59.843 109.679 55.6326 107.659 49.414C101.943 31.8234 77.057 31.8234 71.3415 49.414Z" fill="#02F1BD" stroke="#0C0C0C" stroke-width="5"/>
                        <path d="M100.594 78.4062C103.536 78.4062 106.358 77.2374 108.438 75.157C110.519 73.0765 111.688 70.2547 111.688 67.3125C111.688 64.3703 110.519 61.5485 108.438 59.468C106.358 57.3876 103.536 56.2188 100.594 56.2188H78.4063C75.464 56.2188 72.6423 57.3876 70.5618 59.468C68.4813 61.5485 67.3125 64.3703 67.3125 67.3125C67.3125 70.2547 68.4813 73.0765 70.5618 75.157C72.6423 77.2374 75.464 78.4062 78.4063 78.4062C75.464 78.4062 72.6423 79.5751 70.5618 81.6555C68.4813 83.736 67.3125 86.5578 67.3125 89.5C67.3125 92.4422 68.4813 95.264 70.5618 97.3445C72.6423 99.4249 75.464 100.594 78.4063 100.594C76.2121 100.594 74.0673 101.244 72.2429 102.463C70.4185 103.682 68.9966 105.415 68.157 107.442C67.3173 109.469 67.0976 111.7 67.5257 113.852C67.9537 116.004 69.0103 117.98 70.5618 119.532C72.1133 121.083 74.09 122.14 76.242 122.568C78.3939 122.996 80.6245 122.776 82.6516 121.937C84.6788 121.097 86.4114 119.675 87.6304 117.851C88.8494 116.026 89.5 113.882 89.5 111.688V78.4062H100.594Z" fill="#0C0C0C"/>
                        <path d="M100.594 100.594C106.721 100.594 111.688 95.6269 111.688 89.5C111.688 83.3731 106.721 78.4062 100.594 78.4062C94.4668 78.4062 89.5 83.3731 89.5 89.5C89.5 95.6269 94.4668 100.594 100.594 100.594Z" fill="#0C0C0C"/>
                      </svg>
                    </a>
                  )
                }
                
                {
                  project.frontmatter.githubLink !== "N/A" && (
                    <a class="github-badge-wrapper" href={project.frontmatter.githubLink} target="_blank" title={`Opens New Tab to the ${project.frontmatter.title} GitHub Repository`}>
                      <svg class="github-badge" viewBox="0 0 179 179" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M74.1841 46.3795C72.4176 52.5693 66.0583 56.2408 59.8145 54.6757C44.2715 50.7797 33.353 69.6911 44.4986 81.2037C48.9759 85.8285 48.9759 93.1715 44.4986 97.7963C33.353 109.309 44.2715 128.22 59.8145 124.324C66.0583 122.759 72.4176 126.431 74.1841 132.621C78.5815 148.029 100.419 148.029 104.816 132.621C106.582 126.431 112.942 122.759 119.186 124.324C134.728 128.22 145.647 109.309 134.501 97.7963C130.024 93.1715 130.024 85.8285 134.501 81.2037C145.647 69.6911 134.728 50.7797 119.185 54.6757C112.942 56.2408 106.582 52.5693 104.816 46.3795C100.419 30.9708 78.5815 30.9708 74.1841 46.3795Z" fill="#02F1BD" stroke="#0C0C0C" stroke-width="4"/>
                        <path d="M74.7708 62.5507C60.0944 70.4788 54.7894 89.1158 62.9162 104.16C69.4215 116.202 82.5504 122.291 95.0581 120.194C95.2236 120.146 95.3834 120.08 95.5346 119.998C96.5194 119.466 96.5081 118.537 96.1684 117.908C95.8159 117.256 94.8692 115.56 93.6268 113.288C92.859 113.969 92.0177 114.563 91.1185 115.057C86.0049 117.819 82.6951 114.473 82.6951 114.473C79.7865 111.983 77.5874 112.082 77.5874 112.082C74.3957 111.707 76.6718 110.416 76.8498 110.32L76.8617 110.313C79.6593 109.109 82.4566 110.939 82.4566 110.939C85.0416 112.546 87.1737 112.238 88.7636 111.379C89.8035 110.79 90.7074 109.988 91.4163 109.026C90.7051 107.142 90.7459 105.572 91.1335 104.474C84.8651 106.971 77.3974 107.986 71.7573 97.5448C70.1486 94.5668 69.8669 91.577 70.5381 88.7621C69.8935 88.2214 67.4802 85.9386 66.9024 81.4075C67.0714 81.2562 67.2602 81.1284 67.4635 81.0278C68.4246 80.5086 70.7944 79.7035 75.7234 80.2595C79.4191 76.6895 84.0236 74.2022 89.0354 73.0684C91.2725 68.6413 93.2451 67.1006 94.2061 66.5815C94.4018 66.4666 94.6121 66.3788 94.8313 66.3204C98.3041 69.2876 98.8903 72.5574 98.9891 73.393C101.718 74.3866 104.064 76.2613 105.666 79.2274C111.319 89.6918 106.345 95.352 100.79 99.2264C102.194 99.5561 103.946 100.756 105.318 103.295C107.285 106.937 108.839 109.899 109.32 110.788C109.666 111.429 110.425 111.954 111.409 111.422C111.569 111.337 111.72 111.235 111.858 111.118C120.481 101.801 122.568 87.4775 116.069 75.4469C107.942 60.4027 89.4471 54.6226 74.7708 62.5507Z" fill="#0C0C0C"/>
                      </svg>
                    </a>
                  )
                }
                
              </div>
            </div>
            <div class="info">
              <h3>{project.frontmatter.title}</h3>
              <div class="tag-container">
                {
                  project.frontmatter.tags.map((tag)=>(
                    <p class="tag-card">{tag}</p>
                  ))
                }
              </div>
              <p class="info-blurb">{project.frontmatter.blurb}</p>
              <a href={project.url} title={`Redirects to ${project.frontmatter.title} Project Blog Page`}><button>more info <Icon iconName={"nextArrow"} size={"1.5em"}/></button></a>
              <svg class="text-wave" viewBox="0 0 756 204" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 15.9998C0 15.9998 91.5655 53.0018 153.5 57.4998C238.406 63.6661 282.371 15.7338 367.5 15.9998C440.401 16.2276 479.881 61.1163 551.5 47.4998C596.688 38.9085 613.725 5.01735 659.5 0.499815C697.484 -3.24883 756 15.9998 756 15.9998V204H0V15.9998Z" fill="#383F6A"/>
              </svg>
            </div>
          </section>
        ))
      }
    </main>
    <Footer />
    <style>
      @media screen and (max-width: 1400px) {
        body {
          --big-text: 4em;
          --med-text: 1.5em;
        }
        .display-wrapper {
          width: 500px;
          height: 325px;
        }
        .github-badge {
          width: 175px;
          height: 175px;
        }
        .demo-text {
          left: -3%;
          top: -5%;
        }
      }
      @media screen and (max-width: 1200px) {
        body {
          --title-text: 6em;
          --tiny-text: 1.25em;
        }
        .project {
          flex-direction: column-reverse;
          height: auto;
        }
        .project:nth-child(odd) {
          flex-direction: column-reverse;
        }
        .project:nth-child(odd) .display {
            border-left: 0;
          }
          .project:nth-child(even) .display {
            border-right: 0;
          }
        .display {
          border-top: #0C0C0C 4px solid;
          padding: 75px 0;
          width: 100%;
        }
        .info {
          padding: 50px 0;
          width: 100%;
        }
        .display-wrapper {
          width: 500px;
          height: 350px;
        }
      }
      @media screen and (max-width: 600px) {
        body {
          --title-text: 4em;
          --big-text: 2.5em;
          --med-text: 1em;
          --tiny-text: 1em;
        }
        .title {
          -webkit-text-stroke: 1.5px #0C0C0C;
        }
        .display-wrapper {
          width: 400px;
          height: 300px;
        }
        .demo-text {
          border: 4px solid #0C0C0C;
          left: 0%;
          font-size: 12px;
        }
        .info-blurb {
          max-width: 325px;
        }
        .github-badge-wrapper {
          right: -5%;
          bottom: -15%;
        }
        .github-badge {
          width: 100px;
          height: 100px;
        }
      }
      @media screen and (max-width: 430px) {
        body {
          --title-text: 4em;
          --big-text: 2.5em;
          --med-text: 1em;
        }
        .display-wrapper {
          width: 325px;
          height: 235px;
        }
        .display img {
          border-radius: 15px;
          box-shadow: 2px 2px #0C0C0C;
        }
      }
    </style>
  </body>
</html>
