---
// Component Imports
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

// Data Fetching: List all Markdown posts in the repo.
const projects = await Astro.glob("./project/*.md");
---

<html lang="en">
  <head>
    <MainHead
      title="Alan Cortez Projects"
      description="Projects Alan Cortez has developed so far."
    />
  </head>
  <body>
    <Nav />
    <!-- dividing wave -->
    <main>
      <section class="proj-hero">
        <h1>blah</h1>
      </section>
      {projects.map((project)=>(
        <section class="project">
          <div class="display">
            <img src={project.frontmatter.gif} alt={`${project.frontmatter.title} demo display`}>
          </div>
          <div class="info">
            <h3>{project.frontmatter.title}</h3>
            <div class="tag-container">
              {project.frontmatter.tags.map((tag)=>(
                <p class="tag-card">{tag}</p>
              ))}
            </div>
            <p>{project.frontmatter.blurb}</p>
            <a href={project.url}><button>more info</button></a>
          </div>
        </section>
      ))}
    </main>
    <Footer />
    <style>
      body {
        background-color: var(--purple0);
      }
      main {
        display: flex;
        flex-direction: column;
      }
      .proj-hero {
        height: 400px;
        background-color: black;
      }

    </style>
  </body>
</html>
